
{{#each elections as |election|}}
  <section data-id="{{election.id}}">
    <h5>Name: {{election.name}} (id: {{election.id}})
    </h5>
    <button type="submit" class="btn btn-info mr-2 show-election">Show</button>
    <button type="submit" class="btn btn-danger delete-election">Delete</button>
  </section>

{{/each}}
