
@import '~bootstrap/scss/bootstrap';

.signed-in,
.input-form {
  display: none;
}

.third {
  height: auto;
  min-height: 600px;
}

.notices {
  height: 30px;
}

.nav-buttons {
  display: inline-flex;
  margin: auto;
}

.q {
  font-size: 20px;
}

.form-name {
  font-weight: bold;
  padding-top: 15px;
}

.input-field {
  margin: 4px;
}

.btn-green {
  background-color: green;

  &:hover,
  &:focus {
    background-color: darkGreen;
  }
}

.detail {
  border-width: medium;
  font-size: auto;
  font-weight: bold;
  margin: 2px;
}
