
@import '~bootstrap/scss/bootstrap';

.expand {
  display: none;
}

.signed-in {
  display: none;
}

.examine {
  display: none;
}

.third {
  height: auto;
  min-height: 600px;
}

.notices {
  height: 30px;
}
