
@import '~bootstrap/scss/bootstrap';

.expand {
  display: none;
}

.signed-in {
  display: none;
}

.examine {
  display: none;
}

.third {
  height: auto;
  min-height: 600px;
}

.notices {
  height: 30px;
}

.nav-buttons {
  align-self: center;
  display: flex;
  margin: auto;
}

.detail {
  border-width: medium;
  font-size: auto;
  font-weight: bold;
  margin: 2px;
}
